.card-title[b-fi7r9zgcga]{
    text-align: center;
}
#ageRow[b-fi7r9zgcga]{
    text-align: center;
    font-size: 11pt;
    margin-bottom: 0 !important;
}
.imageThumbnail[b-fi7r9zgcga]{
    height: 60%;
    width: 100%;
}
.card[b-fi7r9zgcga]{
    cursor: pointer;
}
.card-title[b-fi7r9zgcga]{
    margin-bottom: -.7%;
}
.card-text[b-fi7r9zgcga]{
    margin-bottom: -.7%;
}
@media (max-width: 641px) {
    .card[b-fi7r9zgcga]{
        margin-bottom: 10%;
    }
}
