/Small paws/.idea
/Small paws/Client/obj/project.nuget.cache
/Small paws/Client/bin/Debug/net5.0/Client.dll
/Small paws/Client/obj/Debug/net5.0/RazorDeclaration/Client.dll
/Small paws/Client/obj/Debug/net5.0/Client.dll
/Small paws/Client/bin/Debug/net5.0/Client.pdb
/Small paws/Client/obj/Debug/net5.0/RazorDeclaration/Client.pdb
/Small paws/Client/obj/Debug/net5.0/Client.pdb
/Small paws/Client/bin/Debug/net5.0/Client.Views.dll
/Small paws/Client/obj/Debug/net5.0/Client.Views.dll
/Small paws/Client/bin/Debug/net5.0/Client.Views.pdb
/Small paws/Client/obj/Debug/net5.0/Client.Views.pdb
/Small paws/Client/bin/.idea/.idea.Small paws/.idea/workspace.xml
