@inherits LayoutComponentBase
@inject NavigationManager _navigationManager
@if(_navigationManager.Uri.Contains("Login" )|| _navigationManager.Uri.Contains("CreateAccountMain")|| _navigationManager.Uri.Contains("CreateAccountDetails"))
{
<div class="page">
    @Body    
</div>
}
else
{ 
    <div class="page">
    
        <div class="sidebar">
            <NavMenu/>
        </div>

        <div class="main">
            <div class="top-row px-4">
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>

            <div class="content px-4">
                @Body
            </div>
        </div>

    </div>
}
