table{
    width: 100%;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}

th, td {
    padding: 2%;
    align-items: center;
    border-bottom: 1px solid #ddd;
}
.AcceptReject{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.accept{
    height: 100%;
}
.reject{
    height: 100%;
}
