<h3>CreateAccount</h3>

<div class="container-login">
    <div class="wrap-login">
				
        <span class="login-title">
            <b>Login</b>
        </span>

        <div class="wrap-input">
            <span class="label-input">Username</span>
            <input class="input" type="text" name="username" placeholder="Type your username">
            <span class='focus-input' data-symbol="&#xf023;"></span>
        </div>

        <div class="wrap-input">
            <span class="label-input">Password</span>
            <input class="input" type="password" placeholder="Type your password">
            <span class="focus-input" data-symbol="&#xf190;"></span>
        </div>

        <div class="wrap-login-btn">
            <div class="login-bgbtn"></div>
            <button class="login-btn">
                Login
            </button>
        </div>
				
        <div class="wrap-SignUp">	
            <a class="signUp" href="#">Sign Up</a>
        </div>

    </div>
</div>