
.LoginPage{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.loginDiv{
    background-color: white;
    justify-content: center;
    align-items: center;
    height: 40vh;
    padding: 30px;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    border-radius: 10px;
}
ul{
    list-style-type: none;
}
.loginButton
{
    
}