@page "/ViewAnimals"
@inherits ViewAnimalsRazor
<h3>ViewAnimals</h3>

    <div class="card-deck">
        <div class="card-deck">

            @if (Animals != null)
            {
                @for (int i = 0; i < Animals.Count; i++)
                {
                    
                    <div class="card m-3" style="min-width: 18rem; max-width: 30.5%;" @onclick="() => OpenSpecificAnimal(i)">
                        <img class="card-img-top imageThumbnail" src="@ShownImage[i]" alt="image thumbnail"/>

                        <tr>
                            <th><b>@Animals[i].AnimalType</b></th>
                        </tr>
                        <tr id="ageRow">
                            <td >@Animals[i].Age years old</td>
                        </tr>
                        <tr><td><b>Description:</b></td></tr>
                        <tr>
                            <td id="description">@Animals[i].Description</td>
                        </tr>
                    </div>
                }
            }
        </div>
    </div>
