.card-title{
    text-align: center;
}
#ageRow{
    text-align: center;
    font-size: 11pt;
    margin-bottom: 0 !important;
}
.imageThumbnail{
    height: 60%;
    width: 100%;
}
.card{
    cursor: pointer;
}
.card-title{
    margin-bottom: -.7%;
}
.card-text{
    margin-bottom: -.7%;
}
@media (max-width: 641px) {
    .card{
        margin-bottom: 10%;
    }
}
