/*Title styling*/

.title{
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 39px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 5vh;
}

/*Title styling end*/

/*Button styling*/

.login-btn {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

.wrap-login-btn, .wrap-cancel-btn{
    width: 10%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 2%;
    right: 2%;
    float: right;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto 0.5vh;

    box-shadow: 0 5px 30px 0 rgba(3, 216, 222, 0.2);
    -moz-box-shadow: 0 5px 30px 0 rgba(3, 216, 222, 0.2);
    -webkit-box-shadow: 0 5px 30px 0 rgba(3, 216, 222, 0.2);
    -o-box-shadow: 0 5px 30px 0 rgba(3, 216, 222, 0.2);
    -ms-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
}
.wrap-cancel-btn{
    right: 15%;
}
.login-bgbtn {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: #a64bf4;
    background: -webkit-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
    background: -o-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
    background: -moz-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
    background: linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
    top: 0;
    left: -100%;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login-btn {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 25%;
    height: 60%;
}

.wrap-login-btn:hover .login-bgbtn {
    left: 0;
}

/*Button styling end*/

/*Table styling*/

table{
    width: 100%;
    height: 100%;

}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
td:nth-child(odd) {
    width: 40%;
}
td:first-child {
    width: 40%;
}


th, td {
    padding: 2%;
    align-items: center;
    border-bottom: 1px solid #ddd;
    font-size: 18pt;
}

.right-side{
    float: right;
    width: 46%;
    height: 100%;
    margin-left: 2%;
    margin-right: 2%;
    border-width: 5px;
    border-style: outset;
    border-color: grey;
}
.input{
    border-style: none;
    outline: none;
}
.input2
{
    background-color: #f2f2f2;
    border-style: none;
    outline: none;
}


/*Table styling end*/

/*Description styling*/
.description-div{
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    width: 96%;
    height: 100%;
    margin-left: 2%;
    margin-right: 2%;
}
.description-text{

}
.description-area{
    width: 100%;
    height: 20vh;
    box-sizing: border-box;
    resize: none;
}
/*Description styling end*/

.picture-div{
    float: left;
    width: 46%;
    height: 100%;
    margin-left: 2%;
    margin-right: 2%;
}
.picture{
    height: 100%;
    width: 100%;
}
.top-side{
    height: 50%;
    width: 100%;
}
.bot-side{
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
}

